body  {
  background-color: antiquewhite;
}
.btn  {
  border: 1px solid #628b4a;
  background-color: #85bb65;
  position: relative;
  left: 40%;
  margin-top: 10%;
}
.btn:hover  {
  color: antiquewhite;
  background-color: #628b4a;
  border: 2px solid #85bb65;
  transition: transform .7s;
  transform: scale(1.15);
}
.page-header  {
  font-family: 'Times New Roman', Times, serif;
  background-color: #85bb65;
  border: 5px solid #628b4a;
}
.col-lg-6 {
  margin-top: 3%;
}
#display-convert-from-usd {
  display: none;
}
#display-convert-from-any {
  display: none;
}